@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --sony-grey: #0A0A0C;
  --sony-blue: #0050FF;
  --sony-cyan: #00D6FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sony-black: #050505;
  --color-sony-grey: var(--sony-grey);
  --color-sony-blue: var(--sony-blue);
  --color-sony-cyan: var(--sony-cyan);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for chrome/safari/opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}